
@{
    ViewBag.Title = "PageAnalysisPageElement";
    Layout = "~/Views/Ansira/index.cshtml";
}
<script src="~/script/pageanalysiselement.js"></script>
<link href="~/Content/loading.css" rel="stylesheet" />
<script src="~/script/loading.js"></script>
<h2>Page Element Analysis</h2>

<div class="container">
    <div class="row">
        <form id="formPageAnalysisData">
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <label for="email">Request Id:</label>
                    <input type="number" placeholder="Request Id" class="form-control" name="request Id" id="txtRequestId" value="" required/>
                </div>

                <div>
                    <div class="col-md-6 col-md-6 form-group">
                        <label for="email">Dealer Id:</label>
                        <input type="number" placeholder="Dealer Id" class="form-control" name="dealer Id" id="txtDealerId" value="" required />
                    </div>
                    <div class="col-md-6 col-md-6 form-group">
                        <label for="email">Dealer Name:</label>
                        <input type="text" placeholder="Dealer Name" class="form-control" name="dealer Name" id="txtDealerName" value="" required />
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">OEM Id:</label>
                    <input type="number" placeholder="Oem Id" class="form-control" name="oem Id" id="txtOEMId" value="" required/>
                </div>

                <div class="form-group">
                    <label for="email">OEM Name:</label>
                    <input type="text" placeholder="OEM Name" class="form-control" name="oem Name" id="txtOEMName" value="" required/>
                </div>

                <div class="form-group">
                    <label for="email">URL:</label>
                    <input type="url" name="url" placeholder="Url" class="form-control" id="txtUrl" value="" required/>
                </div>

                <div class="col-sm-4 col-md-4">
                    <input type="button" onclick="getPageAnalysisData()" class="btn btn-primary" value="View" />
                </div>
            </div>
        </form>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <table id="backbonePageTypeDataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>DataElementName</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
</div>

